.group input[type="text"] {
    width: 100%;
    height: 50px;
    border: none;
    background: #f0f4f2;
    padding: 0 0 0 25px;
    color: #000;
    font: 300 18px Roboto, sans-serif;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #f0f4f2 url(./images/icon1.png) no-repeat 20px 50%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 35px 0 60px;
    color: #000;
    position: relative;
    font: 300 18px/50px Roboto, sans-serif;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 7px rgba(46, 46, 46, .3);
    box-shadow: 0 0 7px rgba(46, 46, 46, .3);
}

.page__sidebar-nav ul li ul {
    display: none;
}

.page__sidebar-nav ul li.active ul {
    display: block;
}

button.button-add {
    background: #f24841;
    color: #fff;
    font: bold 18px Roboto, sans-serif;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 7px rgba(46, 46, 46, .3);
    box-shadow: 0 0 7px rgba(46, 46, 46, .3);
    text-transform: uppercase;
}

.spoiler {
    display: block;
}


.header__chooser-select {
    float: left;
    width: 70%;
}

.main-screen__chooser-select {
    float: left;
    width: 350px;
}

.pagination {
    clear: both;
}

.pagination span.current {
    margin-right: 0;
    width: 36px;
    text-align: center;
    color: #fff;
    background: #d5e2db;
}

.pagination span {
    height: 30px;
    display: inline-block;
    color: #68736d;
    width: 36px;
    font: bold 13px/30px Roboto, sans-serif;
    margin-right: 5px;
}

.pagination a {
    display: inline-block;
    width: 36px;
    text-align: center;
    height: 30px;
    color: #000;
    font: bold 13px/30px Roboto, sans-serif;
}

.page .page__preview .page__preview-info.width-auto {
    width: 100%;
}

.page .page__content .content .bx-pagination ul li:before {
    content: "";
}


.page .page__content .content .price_list {
    font-size: 13px;
    color: #585858;
    margin: 0 10px 22px;
    min-height: 110px;
}

.page .page__content .content .price_list li {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    font-weight: 300;
    padding-left: 0;
}

.page .page__content .content .price_list span {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 0 11px 0 0;
}

.page .page__content .content .price_list .right {
    padding: 0 0 0 11px;
    text-align: left;
    font-weight: bold;
}

.page .page__content .content .price_list li:before {
    content: "";
}

.page .page__content .content .price_list li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: url(./images/dot.png) repeat-x;
    left: 0;
    bottom: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn-record {
    color: #fff;
    background: #096295;
    width: auto;
    height: auto;
    padding: 16px 0;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin: 10px;
    font: bold 18px Roboto, sans-serif;
    display: block;
    cursor: pointer;
}
.btn-record:hover {
    color: #fff;
    background: #096295;
}



/*-----------------------*/

.input-text {
    width: 100%;
    background: #efefef;
    height: 41px;
    line-height: normal;
    padding: 0 18px;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 0 11px;
    color: #000;
    resize: none;
}

.text {
    font-size: 14px;
    padding: 13px 18px;
    height: 147px;
}

.popup .button {
    display: block;
    width: 200px;
    margin: 23px auto 19px;
}

.popup {
    /*position: absolute;*/
    /*width: 650px;*/
    /*background: #fff;*/
    /*border-radius: 4px;*/
    /*z-index: 999;*/
    /*top: 100px;*/
    /*left: 100px;*/
    display: none;
    max-width: 650px;
}

.btn-disabled {
    background: gray !important;
}

.button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    background: #009595;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 11px 16px 12px;
    cursor: pointer;
}


.overlay {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, .74);
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0
}

.record-form, .review-form, .pp-close-hint, .overlay {
    display: none;
}


.show-record-form .overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 100;
}

.show-review-form .overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 100;
}

.show-close-form .overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 100;
}

.show-close-form .pp-close-hint {
    display: block;
    position: fixed;
    left: calc(50% - 250px);
    top: calc(22% - 90px);
    padding: 30px;
    z-index: 200;
    width: 650px;
    background: #fff;
    border-radius: 4px;
}

.btn-emo {
    background: #ccc !important;
}

.btn-reset:hover {
    background: #ababab !important;
}

.btn-continue:hover {
    background: #036b6b;
}

.btns-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.show-review-form .review-form {
    display: block;
    position: fixed;
    height: 500px;
    top: calc(22% - 90px);
    left: calc(50% - 250px);
    padding: 30px;
    z-index: 200;
    width: 650px;
    background: #fff;
    border-radius: 4px;
}

.show-record-form .record-form {
    display: block;
    position: fixed;
    height: 600px;
    top: calc(22% - 90px);
    left: calc(50% - 250px);
    padding: 30px;
    z-index: 200;
    width: 650px;
    background: #fff;
    border-radius: 4px;
}

.pp-close-hint .close-form {
    position: absolute;
    top: -35px;
    right: -30px;
    font-size: 21px;
    cursor: pointer;
}

.review-form .close-form {
    position: absolute;
    top: -35px;
    right: -30px;
    font-size: 21px;
    cursor: pointer;
}

.record-form .close-form {
    position: absolute;
    top: -35px;
    right: -30px;
    font-size: 21px;
    cursor: pointer;
}

.close-form img:hover {
    opacity: 0.7;
}

form .rate li {
    cursor: pointer
}

.rate li {
    display: inline-block;
    width: 29px;
    height: 24px;
    background: url("../images/rating.png");
    margin: 0 1px
}

.rate .empty {
    background-position: 100% 0
}